<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xuegao.practice.openNote.dao.CountryMapper"><!-- 当使用接口获取映射方法时，命名空间不能随便取，要指定为接口的全类名 -->
    <!--得到国家名列表。string是MyBatis内置的String类型别名-->
    <select id="getCountryList" resultType="string">
        SELECT name_cn FROM country
    </select>

    <!--以升序方式得到地区名数组-->
    <select id="getCountryCnByAsc" resultType="string">
        SELECT name_cn FROM country ORDER BY id ASC
    </select>

    <!--通过国家ID得到中文版的国家名（即name_cn字段）-->
    <select id="getNameCnByCountryId" resultType="xuegao.practice.openNote.dto.CountryDto">
        SELECT id, name_cn FROM country WHERE id = #{countryId}
    </select>

    <!--通过国家名得到国家ID-->
    <select id="getIdByCountryName" resultType="integer">
        SELECT id FROM country WHERE name_cn = #{countryName}
    </select>
</mapper>
